__pycache__/
*.pyc
*.pyo
*.parquet
*.duckdb
data/temp/
data/results/*.parquet
data/results/*.json
data/results/*.summary.parquet
*.log
*.spec
dist/
build/
venv/
.env
config.json
node_modules/
*.xlsx
nginx
nginx
